<div class="ribbon">
  <h3>作品一覧</h3>
</div>

<table class="tablesize">
  <tr>
    <table border="3">
    <th class="作品名">作品名</th>
    <th class="紹介文">紹介文</th>
    <th class="投稿時間">投稿時間</th>
    <th colspan="3", class="アクションボタン">アクションボタン</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
       <td><%= article.title %></td>
       <td><%= article.text %></td>
       <td><%= article.created_at %></td>
       <td><%= link_to '閲覧/レビュー追加', article_path(article) %></td>
       <td><%= link_to '編集', edit_article_path(article) %></td>
       <td><%= link_to '削除', article_path(article),
                    method: :delete, data: { confirm: '作品紹介、またそれに紐づくレビューを全て削除してもよろしいですか？' } %></td>

    </tr>
  <% end %>
</table>

<br>
<%= link_to '紹介文の追加', new_article_path %>
<br>

<div class="ribbon">
  <h3>新しく追加された作品紹介</h3>
</div>

<table>
  <tr>
    <th class="作品名">作品名</th>
    <th class="紹介文">紹介文</th>
    <th class="投稿時間">投稿時間</th>
  </tr>
  <tr>
  <td><%= @titlelatest.title %></td>
  <td><%= @titlelatest.text %></td>
  <td><%= @titlelatest.created_at %></td>
  </tr>
  </table>
  <br>

  <div class="ribbon">
  <h3>最新レビュー</h3>
  </div>

  <table>
  <tr>
    <th class="作品名">ユーザー</th>
    <th class="紹介文">レビュー</th>
    <th class="スター">スター</th>
    <th class="投稿時間">投稿時間</th>
  </tr>
  <tr>
  <td><%= @reviewlatest.commenter %></td>
  <td><%= @reviewlatest.body %></td>
  <td><%= @reviewlatest.restars %></td>
  <td><%= @reviewlatest.created_at %></td>
  </tr>
