<div class="ribbon">
<h2>作品詳細</h2>
</div>

<div class="box2">
  <p>
    <strong>作品名:</strong>
    <%= @article.title %>
  </p>
</div>

<div class="box3">
  <p>
    <strong>紹介文:</strong>
    <%= @article.text %>
  </p>
</div>

<div class="box5">
  <p>
    <strong>スター平均:</strong>
    <%= @starave ||= 0
    num = @starave.round(1) %>
  </p>
</div>

<div class="ribbon">
<h2>レビュー</h2>
</div>

<% @article.comments.each do |comment| %>
  <p>
    <strong>投稿者:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>レビュー:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>スター:</strong>
    <%= comment.restars %>
  </p>

  <p>
    <%= link_to 'レビュー削除', [comment.article, comment],
                 method: :delete,
                 data: { confirm: '本当にこのレビューを削除しますか？' } %>
  </p>
  <br>------------------<br>

<% end %>

<div class="ribbon">
<h4>レビューを投稿する:</h4>
</div>

<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :投稿者 %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :レビュー内容 %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.label :スター数 %><br>
    <%= form.number_field :restars, min: 1, max: 5 %>
  </p>

  <p>
    <%= form.submit "投稿"%>
  </p>
<% end %>

<%= link_to '一覧へ戻る', articles_path %>
